* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Bespoke Serif';
	background-color: theme('colors.neutral.950');
	color: theme('colors.neutral.50');
}

body {
	overscroll-behavior: none;
}
